.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(198, 189, 189, 0.5);
}

.loader__rings{
    display: inline-block;
    width: 100px;
    height: 100px;
}

.loader__rings:after {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    margin: 8px;
    border-radius: 50%;
    border: 10px solid var(--color-dark);
    border-color: var(--color-dark) transparent var(--color-dark) transparent;
    animation: loader-ring 1.2s linear infinite;
}

@keyframes loader-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}