.product-card{
    width: 300px;
    height: 400px;
    border-radius: 12px;
    background-color: var(--color-light);
    box-shadow: 5px 5px 5px 0px #00000040; 
    position: relative;
}

.product-card:hover .product-card__button{
    display: block;
}

.product-card__img{
    max-width: 300px;
    height: 200px;
}

.product-card__img img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.product-card__content{
    padding: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    height: 180px;  
}

.product-card__title{
    font-size: 15px;
    font-family: 'Inter Bold', 'Times New Roman', sans-serif, serif;
    margin-bottom: 10px;   
}

.product-card__desc{
    line-height: 18px;
    margin-bottom: 20px;
    flex-grow: 2;
}

.product-card__desc b{
    font-family: 'Inter Bold', 'Times New Roman', sans-serif, serif;   
}

.product-card__price{
    font-size: 16px;
    font-family: 'Inter Bold', 'Times New Roman', sans-serif, serif;   
}

.product-card__button{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #D9D9D9;
    box-shadow: 2px 5px 5px 0px #00000040;
    right: 10px;
    cursor: pointer;
    display: none;
    border: none;
}

.product-card__button svg{
    width: 22px;
    height: 22px;
}

.product-card__button-edit{
    top: 10px;
}

.product-card__button-trash{
    top: 50px;
}

.product-card__button:hover{
    background-color: var(--color-primary);
}

.product-card__button:hover path{
    fill: var(--color-light);
}