.input-container{
  position: relative;
  padding-bottom: 31px;
}

.input-wrapper {
  position: relative;
  min-width: 180px;
  box-sizing: border-box;
  display: block;
}

.input-wrapper--valid .input-wrapper__input{
  border-color: var(--color-primary);
}

.input-wrapper--error .input-wrapper__input{
  border-color: var(--color-danger);
}

.input-container__message-error{
  position: absolute;
  color: var(--color-danger);
  font-size: 9px;
}

.input-wrapper__file-icon{
  position: absolute;
  top: 25%;
  cursor: pointer;
  right: 10px;
  width: 19px;
  height: 19px;
}

.input-wrapper__input {
  background-color: var(--color-light);
  border-radius: 3px;
  border: 1px solid var(--color-light-gray);
  color: var(--color-dark);
  font-size: 16px;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  outline: 0;
  padding: 7px 10px;
}

.input-wrapper__file-value {
  height: 20px;
  left: 10px;
  top: 5px;
  position: absolute;
  transform: translateY(0);
  transition: transform 200ms;
}

.input-wrapper__input:focus ~ .input-wrapper__file-value,
.input-wrapper__input:not(:placeholder-shown) ~ .input-wrapper__file-value {
  transform: translateY(5px);
}

.input-wrapper__placeholder, .input-wrapper__placeholder-file{
  color: var(--color-light-dark);
  left: 10px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 12px;
}

.input-wrapper__input:focus ~ .input-wrapper__placeholder,
.input-wrapper__input:not(:placeholder-shown) ~ .input-wrapper__placeholder {
  transform: translateY(-30px) translateX(-10px) scale(0.85);
}

.input-wrapper__input:not(:placeholder-shown) ~ .input-wrapper__placeholder {
  color: var(--color-light-dark);
}

.input-wrapper__input:focus ~ .input-wrapper__placeholder {
  color: var(--color-dark);
}

.input-wrapper__file-value:not(:empty) ~ .input-wrapper__placeholder-file{
  transform: translateY(-30px) translateX(-10px) scale(0.85);
  color: var(--color-dark);
}

.input-wrapper--file{
  position: relative;
  min-width: 180px;
  box-sizing: border-box;
  display: block;
  border-radius: 3px;
  border: 1px solid var(--color-light-gray);
  padding: 7px 10px;
  cursor: pointer;
}

.input-wrapper--file .input-wrapper__input{
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.input-wrapper textarea{
  resize: none;
}