@font-face {
  font-family: 'Inter';
  src: url(/public/fonts/eng/Inter-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url(/public/fonts/ru/Inter-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter Bold';
  src: url(/public/fonts/eng/Inter-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter Bold';
  src: url(/public/fonts/ru/Inter-Bold.ttf) format('truetype');
}

:root{
  --color-light: #FFFFFF;
  --color-primary-light: #E9E9E9;
  --color-dark: #000000;
  --color-light-dark: #888888;
  --color-primary: #406FE9;
  --color-danger: #F23C3C;
  --color-light-gray: #C6BDBD;
}

* {
  font-family: 'Inter', 'Times New Roman', sans-serif, serif;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-primary-light);
  color: var(--color-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
